<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Tabby{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/styles/page.css">
  <link rel="icon" href="/assets/tabby_icon_dark.png" />
  <link rel="icon" href="/assets/tabby_icon_light.png" media="(prefers-color-scheme: dark)" />
  <script src="/scripts/mobile_navbar.js" async></script>
  <script>
    // For some incredibly bizarre reason, Firefox will display a flash of unstyled content unless we keep a dummy
    // script here.
    let FIREFOX_FOUC_FIX;
  </script>
</head>

<body>
  <nav id="nav">
    <img class="logo" src="/assets/tabby_icon_light.png">
    <div class="spacer"></div>
    <a class="small button on-foreground nav-link" href="/dashboard">
      <i class="bi bi-tools"></i>
      <span>Dashboard</span>
    </a>
    <a class="small button on-foreground nav-link" href="/docs">
      <i class="bi bi-journal-bookmark"></i>
      <span>Documentation</span>
    </a>
    <a class="small button on-foreground nav-link" href="https://github.com/kaylynn234/tabby">
      <i class="bi bi-github"></i>
      <span>Contribute</span>
    </a>
    <div class="spacer"></div>
    <button id="sidebar-menu-toggle" class="small on-foreground">
      <i id="show-sidebar-menu" class="bi bi-list"></i>
      <i id="close-sidebar-menu" class="bi bi-x-lg"></i>
    </button>
    {% if session.authorized %}
      <img class="small avatar" src="{{ session.user.display_avatar.url }}">
      <a class="small button" href="/api/logout">
        Log out
      </a>
    {% else %}
      <a class="small button" href="{{ session.authorization_url }}">
        Log in with Discord
      </a>
    {% endif %}
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer id="footer">
    <div class="container">
      &copy; 2023 - present, Kaylynn and
      <a href="https://github.com/kaylynn234/tabby/contributors">contributors</a>.
    </div>
  </footer>
</body>

</html>